.body_login{
	background-image: url("../img/bg.jpg");
}
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
	padding-top: 40px;
    
}
.avatar{
	width: 30%;
	height: auto;
	border-radius: 50%;
}
.container_modal {
	padding: 16px;
    width: 50rem;
    height: 20rem;
}
/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 50%; /* Could be more or less, depending on screen size */
   
}
@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
}
.navbar{
	background-color:rgb(0, 0, 0);
	color: white;
}
.form_login{
	min-height: 40vh;
	background-color:rgb(0, 0, 0);
	border-radius: 4%;
	padding-top: 3vh;
	text-align: center;
	color: white;
	font-style: italic;
	
}
.cad{
	color: white;
	font-style: italic;
	font-size: larger;
	font-weight: 700;
}
.lista li{
	color: rgb(0, 0, 0);
	padding-top: 10px;
  }
.linha{
	border-left: 2px solid rgb(0, 0, 0);
	height: auto;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.rodape{
	background-color: rgb(235, 231, 231);
	border-top: 1px solid gray;
	margin-top:100px;
	min-width: 100%;
	min-height: 150px;
	padding:50px 0 20px 50px;
}